*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}

.contenedor{
    width:100vw;
    height:100vh;
    background-color: purple;
  
    display:grid;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows: 200px 200px 200px;
   
   justify-content:center;
   align-content: end;
   
  /* align-items: center;
   justify-items: center;
  */  

}

.caja{
   /* width:150px;
    height:150px;/* si no se pone height la caja va a llenar el padre en altura*/
    background-color: white;
    text-align: center;
    border-radius: 20px;

}

#caja1{
   grid-column-start:1 ;
   grid-column-end: 3; 
    background-color:aqua;
 
}
