*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}

.contenedor{
    display:flex;
    width:100vw;
    height:100vh;
    background-color: purple;
    flex-direction: row; 
    flex-wrap:nowrap;
    justify-content:center;
    align-items: flex-center;
   /* flex-flow:column-reverse;*/
    
    

}

.caja{
    width:150px;
    height:150px;/* si no se pone height la caja va a llenar el padre en altura*/
    background-color: white;
    margin:10px;
    text-align: center;
    order:ASC;
   flex-shrink: 0;
   flex-grow: 1;
   align-self: center; 

}